body {
    background-color: #f0f0f0;
    font-family: Times New Roman, Times New Roman;
}

header {
    background-color: #ffffff;
    color: #872736;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #872736;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

#greetButton {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

#greeting {
    margin-top: 20px;
    font-size: 18px;
    color: #47151C;
}

footer {
    background-color: #ffffff;
    color: #872736;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
